<div class="row">
  <div class="column">
    <h4>Education</h4>
    <p>{{profile.education}}</p>
    <h4>Employment</h4>
    <p *ngFor="let item of profile.employment">{{item}}</p>
    <h4>Skills</h4>
    <p *ngFor="let skill of profile.skills">
      <i>{{skill.name}}: </i>{{skill.items.join(', ')}}
    </p>
  </div>
</div>
<hr>
<div class="row">
  <div class="column">
    &copy; {{date | date:'yyyy'}} {{profile.name}}
  </div>
  <div class="column">
    <app-clock class="float-right"></app-clock>
  </div>
</div>