<div class="row">
  <div class="column">
    <h4>Education</h4>
    <p>2017 - Computer Science, B.S. - Boise State University</p>
    <h4>Employment</h4>
    <p>2017 - Present, Software Engineer, Boise State University - Enterprise Application Development</p>
    <p>2016 - 2017, Student Developer, Boise State University</p>
    <h4>Skills</h4>
    <p><i>Languages: </i>TypeScript, Javascript, C#, Java, PHP, Python, HTML, CSS, C, SQL</p>
    <p><i>Technologies/Frameworks: </i>Windows, Linux, macOS, Angular, ASP.Net, .Net Core, Git, VisualStudio, VSCode,
      Microsoft IIS, Azure DevOps, Octopus Deploy, JetBrains TeamCity</p>
    <p><i>AWS Experience: </i>EC2, Lambda, Elastic Beanstalk, S3, RDS, CloudFront, Route53, API Gateway, CloudWatch,
      CloudFormation, IAM, SNS, SES</p>
  </div>
</div>
<hr>
<div class="row">
  <div class="column">
    &copy; {{date | date:'yyyy'}} Rick Anderson
  </div>
  <div class="column">
    <app-clock class="float-right"></app-clock>
  </div>
</div>